$menuContainer: 5% 0 0 5%;
body {
    margin: 0;
}
a:active, a:visited, a:link, a:hover {
    color: white;
    text-decoration: unset;
}
.most-outside-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.general-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background:black;
    width: 100vw;
    min-height: 10vh;
}
.content-container {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

.content-side {
    background: black;
    color: white;
    flex: 1;
}

#content-canvas-container {
    flex: 5;
}

#content-canvas {
    position: absolute;
}

.side-menu-container, .side-sub-menu-container {
    margin: $menuContainer;
}
  
.side-menu, .side-sub-menu {
    cursor: pointer;
    user-select: none;
}

.side-menu.active, .side-sub-menu.active {
    font-weight: bold;
    font-size: 20px;
}

.side-menu:hover, .side-sub-menu:hover {
    cursor: pointer;
    font-weight: bold;
}

.sign-container {
    background: black;
    color: white;
    min-height: 90vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-id, sign-in-pass {
    margin-bottom: 25px;
}

.sign-pass {
    margin-bottom: 25px;
}

.sign-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-button {
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
}

.sign-seperate {
    border-left: 1px solid white;
    height: 30px;
    margin: 0 30px 0 30px;
}

input {
    height: 30px;
    width: 250px;
    border: none;
    font-size: 15px;
}

input:focus {
    outline: none;
}

.modal {
    position: absolute;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
}

.modal-content {
    min-height: 65vh;
    min-width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.modal.modal-visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close {
    width: 30px;
    height: 30px;
    background: white;
}
img {
    width: 100%;
    height: 100%;
}
.modal-close-after {
    border: 1px solid white;
    transform: rotate(-45deg);
}
.modal-close-before {
    border: 1px solid white;
    transform: rotate(45deg);
}

.loading-spin {
    border: 16px solid #fff;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.loading-text {
    top: 0;
    margin: 60px;
    position:absolute;
    animation: blank 2s linear infinite;
}
.loading-container {
    position:relative;
}

@keyframes blank {
    0% { color: #fff}
    50% { color: #000}
    100% { color: #fff}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}